.container {
    max-width: 80%;
    margin: 0 auto;
}

.container h1 {
    font-size: 3vh;
}

.container h1,
p {
    color: #fff;
}

.chartContainer {
    width: 80%;
    margin: 2vh auto;
}

.textShadows {
    text-shadow: 0 0 2vh #ef791240, 0 0 8px #ef791240, 0 4px 32px #ef791280;
}