.themeContainer {
    display: flex;
    background: #333;
    border-radius: 3vh;
    width: 20vh;
}

.themeButton {
    border: none;
    /* width: 50%; */
    border-radius: 3vh;
    width: 100%;
}

.themeButton:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.themeLight {
    background: #008080;
}

.themeDark {
    background: #b35b0d;
}