.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 10px;
    /* display: flex;
    flex-wrap: wrap;
    gap: 10px; */
}

.square {
    background: crimson;
}

.backgroundGreen {
    background-color: teal;
}