.storeContainer th,
.storeContainer td {
    font-size: 2vh;
    list-style-type: none;
    padding: 1vh;
}

.storeContainer h2 {
    font-size: 2vh;
}

.storeContainer ul {
    margin: 0;
    padding: 0;
}

.storeContainer th {
    text-align: left;
    font-weight: bold;
    border-bottom: 0.3vh solid #ef7912;
}

.storeContainer button {
    border-radius: 1vh;
    background-color: #ef7912;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0vh 1vh;
}

.storeContainer button:disabled {
    background-color: #1c1c21;
    cursor: not-allowed;
}

.cart {
    width: 40%;

    background: #333;
    color: #fff;
    padding: 1vh;
    border-radius: 1vh;

    display: flex;
    flex-direction: column;
}

.cartBody {
    height: 80%;
}

.cartFooter .submitButton {
    width: 100%;
    height: 5vh;
    font-size: 2vh;

    border-radius: 1vh;
    margin-top: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart li {
    color: #ddd;
}

.card {
    width: 60%;
    background: #333;
    color: #fff;

    height: 70vh;

    overflow-y: auto;

    /* padding: 1vh 0; */
    border-radius: 1vh;
}

.selectedRow {
    background-color: #ef7912;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.storeContainer {
    display: flex;
    gap: 3vh;
}

.ml2 {
    margin-left: calc(2 * 4vh);
}

.mb2 {
    margin-bottom: calc(2 * 4vh);
}

.mt2 {
    margin-top: calc(2 * 4vh);
}

.symbolsCircle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3vh;
    height: 3vh;
    margin: 1vh;
    padding: 1vh;

    font-size: 3vh;
}

.cartRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 2vh;
    list-style-type: none;
}

.warningMessage {
    font-weight: 900;
    color: crimson;
}