.wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: auto;
    text-align: center;
}

.content h1 {
    font-size: 3vh;
    margin-bottom: 2vh;
}

.content span,
a,
.errorMessage {
    font-size: 2vh;
}

.link {
    color: #ef7912;
    text-decoration: none;
}

.errorMessage {
    color: #E52B1A;
    text-align: center;
}

.buttonDefault {
    width: 25vh;
    min-height: 5vh;

    font-family: 'Jet Brains Mono';
    font-size: 2vh;
    border-radius: 1vh;
    line-height: 1.5;
    font-weight: normal;
    padding: 1vh 2vh;

    margin-top: 2vh;
}

.buttonDefault:hover {
    background: #ef791280;
}

.inputDefault {
    width: 50vh;
    min-height: 5vh;

    padding-right: calc(0.3vh * 6);
    padding-left: calc(0.3vh * 6);

    display: flex;
    cursor: text;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #333;
    border: 0.3vh solid #333;
    border-radius: 1vh;
    transition: 0.3s;
    position: relative;

    color: #fff;
    font-size: 2vh;

    cursor: text;

    margin-top: 2vh;
}

.inputDefault:focus-visible {
    outline: none;
    border: 0.3vh solid #ef7912;
}

.colorWhite {
    color: #fff;
}

.mb2 {
    margin-bottom: calc(2 * 1vh);
}