.textShadows {
    text-shadow: 0 0 2vh #ef791240, 0 0 1vh #ef791240, 0 4px 32px #ef791280;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card h3,
h2 {
    color: #fff;
}

.card h2 {
    font-size: 3vh;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0px;
}

.listItem .listText {
    margin-right: 1vh;
}

.listItem .listInput {
    cursor: text;
    border: 1px solid #ef7912;
    border-radius: 1vh;
    padding: 1vh;
}

.mr1 {
    margin-right: calc(1 * 1vh);
}

.mt1 {
    margin-top: calc(1 * 1vh);
}

.mt4 {
    margin-top: calc(4 * 1vh);
}

.dualContainer {
    display: flex;
    margin-top: 2vh;
}

.dualContainer div {
    width: 100%;
}

.dualContainer div ul {
    display: flex;
    min-height: 40vh;
    flex-direction: column;
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.selectedText {
    font-weight: 900;
    color: #ef7912;
}

.settingsContainer *::placeholder {
    color: #ef7912;
}

.settingsContainer *[value] {
    color: #ef7912;
}

.cardListNullPadding li,
p {
    margin: 1vh;
}

.textOrangeColor,
.faSpinner {
    color: #ef7912;
}

.cardList input {
    width: 20vh;
    height: 2vh;
    font-size: 2vh;
    padding: 10vh;
}

.cardList h3 {
    color: #fff;
}

.listInputSubmit {
    width: 100%;
    border: none;
    font-size: 2vh;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh 0vh;
    background: #ef7912;
    color: #fff;
    cursor: pointer;
}

.listInputSubmit:disabled {
    width: 100%;
    border: none;
    font-size: 2vh;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh 0vh;
    background: #111;
    color: #fff;
    cursor: not-allowed;
}

.dangerButton {
    background: crimson;
}

.cardList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}