@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: #1c1c21;
    margin-bottom: 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

.imageContainer {
    max-width: 100px;
    max-height: 100px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

.nav h1 {
    color: #fff;
}

.mr4 {
    margin-right: calc(4 * 4px);
}

.linksContainer {
    margin-right: auto;
}

.link {
    color: #fff;
    text-decoration: none;
    margin-left: 32px;

    font-weight: 800;
}

.link:hover {
    color: #ef7912;
}

.user {
    color: #fff;
    margin-right: 32px;
}

.linkActive {
    font-weight: 900;
    color: #ef7912;
}