.textShadows {
    text-shadow: 0 0 16px #ef791240, 0 0 8px #ef791240, 0 4px 32px #ef791280;
}

.selectedText {
    font-weight: 900;
    color: #ef7912;
}

.card {
    display: flex;
    flex-direction: column;
}

.card li {
    font-size: 2vh;
}

.cardItem {
    margin: 1vh 0px;
}

.mr4 {
    margin-right: calc(4 * 1vh);
}

.cardItem button {
    padding: 1vh;
    border-radius: 1vh;
    background-color: #ef7912;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 2vh;
}