.textShadows {
    text-shadow: 0 0 16px #ef791240, 0 0 8px #ef791240, 0 4px 32px #ef791280;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardList {
    margin: 16px 0px;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.listItem .listText {
    margin-right: 8px;
}

.mr1 {
    margin-right: calc(1 * 4px);
}

.mt4 {
    margin-top: calc(4 * 4px);
}

.symbolsCircleContainer {
    display: flex;
    margin: 0;
    padding: 0;
    margin: .25vh;
    padding: .25vh;
}

.symbolsCircleContainer button {
    border-radius: .3vh;
    background-color: #ef7912;
    color: white;
    border: none;
    cursor: pointer;
}

.symbolsCircle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2vh;
    height: 2vh;
    margin: 0.25vh;
    font-size: 1.5vh;
}

.alignLeft {
    justify-content: flex-start;
}

.alignRight {
    justify-content: flex-end;
}

.cardScroll {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.ml2 {
    margin-left: calc(2 * 4px);
}

.flexBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.supplyContainer {
    display: flex;
    justify-content: space-between;
}

.supplyContainer .containerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.supplyContainer .containerCounter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerCounter span {
    color: #fff;
}

.textOrangeColor,
.faSpinner {
    color: #ef7912;
}

.listInputSubmit {
    display: flex;
    align-items: center;
    background: #ef7912;
    border-radius: 1vh;
    gap: 1vh;
    padding: 1vh;
    border: none;
    font-size: 1.5vh;
    color: #fff;
}

.listItem .listInput {
    display: flex;
    align-items: center;
    border-radius: 1vh;
    padding: 1vh;
    border: none;
    font-size: 1.5vh;
    color: #000;
}

.listItem .listInput:disabled {
    color: #ef7912;
    cursor: not-allowed;
}

.listItem .listInputSubmit {
    width: 100%;
}