* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;

    width: 225px;
    height: 150px;

    border-radius: 8px;
    transition: 300ms;
}

.card:hover {
    scale: 1.05;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

.headerStatementBox {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;

    font-size: 12pt;
    font-weight: 600;
}

.headerIndexBox {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12pt;

    background: #ef7912;
    width: 16px;
    height: 16px;

    border-radius: 100%;

    padding: 8px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: #999; */

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    height: 100%;
}

.cardBody p {
    color: #000;
}

.articleOnline {
    background-color: #008080;
}

.articleOnline:hover {
    background-color: #006c6c;
}

.articleBooking {
    background: #d76c0f;
}

.articleBooking:hover {
    background: #b85c0c;
}

.articleTech {
    background: #dc143c;
}

.articleTech:hover {
    background: #bc1032;
}

.button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    padding: 4px 8px;
    margin: 4px 8px;
    background: #ccc;
    /* background: #ef7912; */
    color: #000;

    border-radius: 8px;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background: #ddd;
    /* background: #d76c0f; */
}

.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.editingInput {
    background: #ccc;
    /* background: #d76c0f; */
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
}

.m1 {
    margin: calc(1 * 4px);
}

.mr1 {
    margin-right: calc(1 * 4px);
}